! device: host2 (vEOS-lab, EOS-4.27.2F)
!
! boot system flash:/vEOS-lab.swi
!
no aaa root
!
username Script secret sha512 $6$PNfpb9anSBQ5/aia$phaa3ar5pwkntenD9WHc6Ed5b96lbW0dc0bjtwPnFLaDiCK8D5Cjl6ewP/xdNbl4PtS6Paq.3SssN8pj05NQm.
username admin privilege 15 role network-admin secret 5 $1$5O85YVVn$HrXcfOivJEnISTMb6xrJc.
username arista privilege 15 role network-admin secret 5 $1$4VjIjfd1$XkUVulbNDESHFzcxDU.Tk1
username arista ssh-key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDjKTT5lZEpWksybyX+kZSITaXHeuBzYV3B/poYtVuO0UJ8l+OMdX+cRxqVBL2Bq7Viocj8+AhUc9z+SNsOBHvJDfQznZ5sE6/3vqSajvIwS3DjV+H6abdGkCOlrVq4WwZqfjBHAhTf4/hyH3xUkRPR2nvkrQfZ3ETfIrMuQDbZYx4MzEkJrvQzl/YeQzQLSrLe0GJuSu5MMn374+dHFu7JW1NWIB5i7bgL/ASvV8RyA1qmQUH/i55rxCS1GWrFGVEDG48zMDUEi9jBibN3NE2vVzE1TtAgxB5Zx7qmBfQ5L2ANDVPXZbcUVTHBwdYlDmgvxCt1p8EC/B+Xn9W00m35 arista@andrew-l3-nam-22-08-2-a8fda7c0
!
alias conint sh interface | i connected
alias mlag-reload bash /mnt/flash/shut_intfs && sudo shutdown now -r
alias senz show interface counter error | nz
alias shmc show int | awk '/^[A-Z]/ { intf = $1 } /, address is/ { print intf, $6 }'
alias snz show interface counter | nz
alias spd show port-channel %1 detail all
alias sqnz show interface counter queue | nz
alias srnz show interface counter rate | nz
!
alias intdesc
   !! Usage: intdesc interface-name description
   10 config
   20 int %1
   30 desc %2
   40 exit
!
daemon TerminAttr
   exec /usr/bin/TerminAttr -ingestgrpcurl=192.168.0.5:9910 -taillogs -ingestauth=key,atd-lab -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname host2
dns domain arista.lab
!
spanning-tree mode none
!
vlan 202
!
banner login
UNAUTHORIZED ACCESS TO THIS DEVICE IS PROHIBITED
EOF
!
management api http-commands
   no shutdown
!
radius-server host 192.168.0.1 key 7 0207165218120E
!
aaa group server radius atds
   server 192.168.0.1
!
aaa authentication login default group atds local
aaa authorization exec default group atds local
aaa authorization commands all default local
!
interface Ethernet1
!
interface Ethernet2
   switchport access vlan 202
!
interface Ethernet3
!
interface Ethernet4
!
interface Management1
   ip address 192.168.0.52/24
   no lldp transmit
   no lldp receive
!
interface Vlan201
   shutdown
!
interface Vlan202
   ip address 192.168.202.1/24
!
ip routing
!
ip route 0.0.0.0/0 192.168.0.1
ip route 192.168.201.0/24 192.168.202.254
!
ntp server 192.168.0.1 iburst source Management1
!
ip radius source-interface Management1
!
end
